* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', sans-serif;
  color: #29303b;
  font-size: 15px;
  font-weight: normal;
}

.btn-play {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 30px 30px;
  -webkit-transition: all .5s;
  transition: all .5s;
  border-width: 2px;
}

.btn-play:hover {
  background-color: transparent;
  color: #cacbcc;
  border-color: #cacbcc;
}

header .navbar-brand {
  width: 50px;
  height: 50px;
}

header #navbarNav .navbar-nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
}

header #navbarNav .navbar-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header #navbarNav .navbar-right .navbar-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #navbarNav .navbar-right .navbar-login img {
  border-radius: 50%;
  width: 30px;
  margin-right: 10px;
}

header #navbarNav .navbar-right .navbar-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #navbarNav .navbar-right .navbar-location .fa {
  color: #a1a7b3;
}

header #navbarNav .navbar-right .navbar-location .custom-select {
  border: none;
  background: transparent;
  padding-right: 0;
}

header #navbarNav .navbar-right .navbar-location .custom-select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

header #navbarNav .navbar-right .navbar-location::after {
  content: '';
  background-image: url("../../img/dropdown-icon.png");
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  background-position: center;
}

.banner .carousel-item {
  position: relative;
  height: 500px;
}

.banner-play {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  color: white;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.banner-play:hover {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.banner .carousel-indicators {
  bottom: 12%;
}

.banner .carousel-indicators li {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  background-color: #cacbcc;
}

.banner .carousel-indicators li.active {
  background-color: #fb4226;
}

.banner .carousel-control-next-icon, .banner .carousel-control-prev-icon {
  background-image: none;
}

.banner .carousel-control-next-icon img, .banner .carousel-control-prev-icon img {
  height: 60px;
}

@media screen and (max-width: 768px) {
  .banner .carousel-control-next-icon, .banner .carousel-control-prev-icon {
    display: none;
  }
}

.search {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: -40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 10px;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(41, 48, 59, 0.25);
          box-shadow: 0px 0px 10px 5px rgba(41, 48, 59, 0.25);
}

.search div {
  margin: auto .5rem;
  border-right: 1px solid rgba(238, 238, 238, 0.88);
}

.search div select {
  border: none;
}

.search div select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.search div:last-child {
  border: none;
  width: 118px;
}

@media screen and (max-width: 768px) {
  .search {
    display: block;
  }
  .search div {
    border-right: unset;
  }
}

.tix__Film {
  width: 60%;
  padding: 0;
}

.tix__Film .nav-tabs {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 0;
}

.tix__Film .nav-tabs .nav-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}

.tix__Film .nav-tabs .nav-item .nav-link {
  border: none;
  height: 24px;
  line-height: 24px;
  color: #29303b;
}

.tix__Film .nav-tabs .nav-item .nav-link:hover {
  font-size: 24px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.tix__Film .nav-tabs .nav-item .nav-link.active {
  color: #fb4226;
  font-size: 18px;
  font-size: 24px;
}

.tix__Film .tab-content {
  padding: 0;
}

.tix__Film .tab-content .carousel__DangChieu {
  padding: 0;
}

.tix__Film .tab-content .carousel__DangChieu .carousel-inner .carousel-item-dangchieu .phimDangChieu {
  margin: 10px;
  position: relative;
}

.tix__Film .tab-content .carousel__DangChieu .carousel-inner .carousel-item-dangchieu .phimDangChieu .danh_gia_diem {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  background-color: #0076917a;
  border-radius: 10px;
  padding: 2px;
  border: 1px solid #0076917a;
  margin-top: 10px;
  margin-right: 10px;
}

.tix__Film .tab-content .carousel__DangChieu .carousel-inner .carousel-item-dangchieu .phimDangChieu .danh_gia_diem p {
  text-align: center;
  font-size: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2px 0;
}

.tix__Film .tab-content .carousel__DangChieu .carousel-inner .carousel-item-dangchieu .phimDangChieu .danh_gia_diem .danh_gia_sao {
  margin-bottom: 5px;
  height: 8px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tix__Film .tab-content .carousel__DangChieu .carousel-inner .carousel-item-dangchieu .phimDangChieu img {
  border-radius: 5px;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.tix__Film .tab-content .carousel__DangChieu .carousel-inner .carousel-item-dangchieu .phimDangChieu .overlay {
  opacity: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(black), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
}

.tix__Film .tab-content .carousel__DangChieu .carousel-inner .carousel-item-dangchieu .phimDangChieu .overlay button {
  border: 1px solid #fff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 5;
  position: absolute;
  height: 50px;
  width: 50px;
  padding-left: 3px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.527);
  color: #fff;
}

.tix__Film .tab-content .carousel__DangChieu .carousel-inner .carousel-item-dangchieu .phimDangChieu .overlay button:hover {
  opacity: 0.8;
}

.tix__Film .tab-content .carousel__DangChieu .carousel-inner .carousel-item-dangchieu .carousel-item-tieude {
  display: block;
  margin: 0 10px;
}

.tix__Film .tab-content .carousel__DangChieu .carousel-inner .carousel-item-dangchieu .carousel-item-tieude .review {
  display: block;
}

.tix__Film .tab-content .carousel__DangChieu .carousel-inner .carousel-item-dangchieu .carousel-item-tieude .review .span__01 {
  background-color: #fb4226;
  color: #fff;
  padding: 1px 5px;
  border-radius: 3px;
  font-size: 14px;
}

.tix__Film .tab-content .carousel__DangChieu .carousel-inner .carousel-item-dangchieu .carousel-item-tieude .review .span__02 {
  font-size: 16px;
  font-family: 700;
}

.tix__Film .tab-content .carousel__DangChieu .carousel-inner .carousel-item-dangchieu .carousel-item-tieude .review p {
  font-size: 13px;
  margin-left: 5px;
}

.tix__Film .tab-content .carousel__DangChieu .carousel-inner .carousel-item-dangchieu .carousel-item-tieude .mua__ve {
  font-size: 18px;
  border-radius: 10px;
  padding: 2px 5px;
  background-color: #ce3017;
  width: 100%;
  display: none;
  bottom: -50%;
  left: 50%;
  padding: 12px 0;
  text-align: center;
}

.tix__Film .tab-content .carousel__DangChieu .carousel-inner .carousel-item-dangchieu .carousel-item-tieude .mua__ve a {
  color: #fff;
}

.tix__Film .tab-content .carousel__DangChieu .carousel-inner .carousel-item-dangchieu:hover .phimDangChieu .overlay {
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.tix__Film .tab-content .carousel__DangChieu .carousel-inner .carousel-item-dangchieu:hover .carousel-item-tieude .review {
  display: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.tix__Film .tab-content .carousel__DangChieu .carousel-inner .carousel-item-dangchieu:hover .carousel-item-tieude .mua__ve {
  display: block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.tix__Film .tab-content .carousel__DangChieu .carousel-control-prev {
  left: -15%;
}

.tix__Film .tab-content .carousel__DangChieu .carousel-control-prev img {
  height: 60px;
}

@media screen and (max-width: 768px) {
  .tix__Film .tab-content .carousel__DangChieu .carousel-control-prev {
    display: none;
  }
}

.tix__Film .tab-content .carousel__DangChieu .carousel-control-next {
  right: -15%;
}

.tix__Film .tab-content .carousel__DangChieu .carousel-control-next img {
  height: 60px;
}

@media screen and (max-width: 768px) {
  .tix__Film .tab-content .carousel__DangChieu .carousel-control-next {
    display: none;
  }
}

.phim_theo_rap {
  background-color: #fff;
  padding: 50px 0;
}

.phim_theo_rap .row .danh_sach_rap {
  width: 100%;
  padding: 0;
}

.phim_theo_rap .row .danh_sach_rap .nav-pills {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 605px;
  border: 1px solid #ddd;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.phim_theo_rap .row .danh_sach_rap .nav-pills a {
  position: relative;
  opacity: 0.5;
  padding: 20px;
}

.phim_theo_rap .row .danh_sach_rap .nav-pills a img {
  width: 50px;
}

.phim_theo_rap .row .danh_sach_rap .nav-pills a::after {
  content: "";
  position: absolute;
  border-color: rgba(238, 238, 238, 0.88);
  bottom: 0;
  left: 50%;
  width: calc(100% - 30%);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-bottom: 1px solid #ddd;
}

.phim_theo_rap .row .danh_sach_rap .nav-pills a:hover {
  opacity: 1;
}

.phim_theo_rap .row .danh_sach_rap .nav-pills .nav-link.active {
  background-color: transparent;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .phim_theo_rap .row .danh_sach_rap .nav-pills {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
  }
}

.phim_theo_rap .row .danh_sach_rap_theo_quan {
  padding: 0;
  border: 1px solid #ddd;
}

.phim_theo_rap .row .danh_sach_rap_theo_quan .tab-content .danh_sach_chi_nhanh {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-y: hidden;
  height: 605px;
}

.phim_theo_rap .row .danh_sach_rap_theo_quan .tab-content .danh_sach_chi_nhanh:hover {
  overflow-y: scroll;
}

.phim_theo_rap .row .danh_sach_rap_theo_quan .tab-content .danh_sach_chi_nhanh .chi_nhanh_rap_item {
  position: relative;
  padding: 5%;
  opacity: 0.5;
  margin: 0;
}

.phim_theo_rap .row .danh_sach_rap_theo_quan .tab-content .danh_sach_chi_nhanh .chi_nhanh_rap_item::after {
  content: "";
  position: absolute;
  border-color: rgba(238, 238, 238, 0.88);
  bottom: 0;
  left: 50%;
  width: calc(100% - 10%);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-bottom: 1px solid #ddd;
}

.phim_theo_rap .row .danh_sach_rap_theo_quan .tab-content .danh_sach_chi_nhanh .chi_nhanh_rap_item .hinh_anh_rap {
  padding: 0;
}

.phim_theo_rap .row .danh_sach_rap_theo_quan .tab-content .danh_sach_chi_nhanh .chi_nhanh_rap_item .hinh_anh_rap .hinh_anh_rap_item {
  width: 100%;
  padding: 0;
  margin: 0;
}

.phim_theo_rap .row .danh_sach_rap_theo_quan .tab-content .danh_sach_chi_nhanh .chi_nhanh_rap_item .info_rap {
  height: 50px;
  padding: 0;
  padding-left: 20px;
}

.phim_theo_rap .row .danh_sach_rap_theo_quan .tab-content .danh_sach_chi_nhanh .chi_nhanh_rap_item .info_rap p:first-child {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.phim_theo_rap .row .danh_sach_rap_theo_quan .tab-content .danh_sach_chi_nhanh .chi_nhanh_rap_item .info_rap p:first-child span {
  color: #e71a0f !important;
}

.phim_theo_rap .row .danh_sach_rap_theo_quan .tab-content .danh_sach_chi_nhanh .chi_nhanh_rap_item .info_rap p {
  padding: 0;
  margin: 0;
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.phim_theo_rap .row .danh_sach_rap_theo_quan .tab-content .danh_sach_chi_nhanh .chi_nhanh_rap_item .info_rap a {
  padding: 0;
  margin: 0;
  font-size: 12px;
  text-decoration: none;
  color: #e71a0f;
}

.phim_theo_rap .row .danh_sach_rap_theo_quan .tab-content .danh_sach_chi_nhanh .chi_nhanh_rap_item:hover {
  opacity: 1;
}

.phim_theo_rap .row .danh_sach_rap_theo_quan .tab-content .danh_sach_chi_nhanh .active {
  opacity: 1;
}

.phim_theo_rap .row .danh_sach_phim {
  padding: 0;
  border: 1px solid #ddd;
}

.phim_theo_rap .row .danh_sach_phim .tab-content .ten_phim {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-y: hidden;
  height: 605px;
}

.phim_theo_rap .row .danh_sach_phim .tab-content .ten_phim:hover {
  overflow-y: scroll;
}

.phim_theo_rap .row .danh_sach_phim .tab-content .ten_phim .ten_phim_item {
  position: relative;
  padding: 1%;
  margin: 0;
}

.phim_theo_rap .row .danh_sach_phim .tab-content .ten_phim .ten_phim_item::after {
  content: "";
  position: absolute;
  border-color: rgba(238, 238, 238, 0.88);
  bottom: 0;
  left: 50%;
  width: calc(100% - 10%);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-bottom: 1px solid #ddd;
}

.phim_theo_rap .row .danh_sach_phim .tab-content .ten_phim .ten_phim_item .hinh_anh_phim {
  padding: 0;
}

.phim_theo_rap .row .danh_sach_phim .tab-content .ten_phim .ten_phim_item .hinh_anh_phim .hinh_anh_phim_item {
  width: 100%;
  padding: 0;
  margin: 0;
}

.phim_theo_rap .row .danh_sach_phim .tab-content .ten_phim .ten_phim_item .info_phim {
  height: 50px;
  padding: 0;
  padding-left: 20px;
}

.phim_theo_rap .row .danh_sach_phim .tab-content .ten_phim .ten_phim_item .info_phim p:first-child {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-weight: bold;
  color: #000 !important;
}

.phim_theo_rap .row .danh_sach_phim .tab-content .ten_phim .ten_phim_item .info_phim p:first-child span {
  color: #fff !important;
  background-color: #fb4226;
  padding: 0 5px;
  border-radius: 4px;
}

.phim_theo_rap .row .danh_sach_phim .tab-content .ten_phim .ten_phim_item .info_phim p {
  padding: 0;
  margin: 0;
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #686f7a;
}

div.danh_sach_chi_nhanh::-webkit-scrollbar {
  width: 4px;
  background-color: #e8e3e3;
}

div.danh_sach_chi_nhanh::-webkit-scrollbar-track {
  border-radius: 10px;
}

div.danh_sach_chi_nhanh::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: #505763;
}

.application {
  background-image: url(../../img/application.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 0 80px 0;
}

.application__content {
  max-width: 940px;
  margin: auto;
}

.application__content .title {
  color: #fff;
  font-size: 39px;
  font-weight: 700;
}

.application__content .text, .application__content .link {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}

.application__content .link a {
  text-decoration: underline;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}

.application__content button {
  font-weight: 700;
  padding: 10px 20px;
  background-color: #fb4226;
}

.application__content .phone .img-phone {
  padding: 0 28%;
}

.application__content .phone #sliderScreen {
  position: absolute;
  padding: 1.5% 29.3% 0 29.3%;
  top: 0;
  left: 0;
  width: 100%;
}

.application__content .phone #sliderScreen .owl-item img {
  height: 100%;
  border-radius: 20px;
  margin: auto;
  width: 94%;
}

@media screen and (max-width: 768px) {
  .application__content {
    text-align: center;
  }
}

.news .news__content {
  padding-top: 120px;
}

.news .news__content .nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.news .news__content .nav a {
  color: #29303b;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px -5px;
  line-height: 24px;
  height: 24px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.news .news__content .nav a:hover {
  color: #29303b;
  font-size: 24px;
  font-weight: 700;
}

.news .news__content .nav .active {
  color: #fa5238;
  font-size: 24px;
  font-weight: bold;
  -webkit-transition: all 0.8;
  transition: all 0.8;
}

.news .news__content .tab-content .item {
  padding-right: 7.5px;
  padding-left: 7.5px;
  padding-right: 0px;
}

.news .news__content .tab-content .item .card {
  border: none;
  margin-right: 0px;
  padding: 0px;
}

.news .news__content .tab-content .item .card img {
  border-radius: 4px;
  margin: 0px !important;
}

.news .news__content .tab-content .item .card .card-body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}

.news .news__content .tab-content .item .card .card-body p {
  margin: 5px 0px 7.5px;
  padding: 0px 5px 0px 0px;
  color: #4a4a4a;
  font-size: 13px;
  font-weight: 600;
  text-align: justify;
  display: -webkit-box;
}

.news .news__content .tab-content .item .card .card-body a {
  margin-bottom: 5px;
  color: #29303b;
  font-size: 20px -4;
  font-weight: 700;
}

.news .news__content .tab-content .item .card .card-body a:hover {
  color: #fa5238;
  font-size: 20px -4;
  font-weight: 700;
  -webkit-transition: all 0.5;
  transition: all 0.5;
  text-decoration: none;
}

.news .news__content .tab-content .item .card .news__icon {
  margin-bottom: 35px;
}

.news .news__content .tab-content .item .card .news__icon i {
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  margin-right: 25px;
}

.news .news__content .tab-content .item .smallCard {
  margin: 0px;
  height: 61px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.5;
  transition: all 0.5;
}

.news .news__content .tab-content .item .smallCard img {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  float: left;
  border-radius: 4px;
}

.news .news__content .tab-content .item .smallCard a {
  height: 42px;
  width: 228px;
}

.news .news__content .tab-content .item .smallCard a p {
  display: block;
  text-align: justify;
  margin-right: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news .news__content .tab-content .item .smallCard :hover {
  color: #fa5238;
  font-size: 20px -4;
  font-weight: bold;
  text-decoration: none;
}

.news .news__content .tab-content .seeMore {
  height: 200px;
  position: relative;
  margin-bottom: 35px;
}

.news .news__content .tab-content .seeMore .seeContent {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.news .news__content .tab-content .seeMore .seeContent button {
  height: 40px;
  width: 150px;
  border-radius: 4px;
  border: 1px solid #949494;
  background-color: #ffffff;
  color: #949494;
  font-size: 15px;
  font-weight: normal;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.news .news__content .tab-content .seeMore .seeContent button:hover {
  border: none;
  background-color: #fa5238;
  color: #ffffff;
  font-size: 15px;
  font-weight: normal;
}

.footer__content {
  background-color: #29303b;
}

.footer__content h6 {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
}

.footer__content .footer__link a {
  width: 115px;
  color: #a1a7b3;
  font-size: 13px;
  font-weight: 700;
}

.footer__content .footer__link a:hover {
  text-decoration: none;
}

.footer__content .partner img {
  border-radius: 50%;
  height: 30px;
  background-color: #fff;
}

.footer__content .partner__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0;
}

.footer__content .mobile-app img, .footer__content .social img {
  height: 30px;
  margin: 5px;
}

.footer__content .mobile-app {
  text-align: right;
}

.footer__content hr {
  background-color: #4a4a4a;
}

.footer__content .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__content .address__details p {
  color: #a1a7b3;
  font-size: 13px;
  font-weight: normal;
}

.footer__content .address__right img {
  width: 130px;
}

.footer__content .address__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__content .address__left img {
  height: 50px;
  margin-right: 1rem;
}

@media screen and (max-width: 768px) {
  .footer__content {
    text-align: center;
  }
  .footer__content .footer__link a {
    width: auto;
  }
  .footer__content .mobile-app {
    text-align: center;
  }
  .footer__content .address {
    display: block;
  }
  .footer__content .address__left {
    display: block;
  }
  .footer__content .address__left img {
    margin-bottom: 1rem;
  }
}
/*# sourceMappingURL=main.css.map */