.inputSearch {
    .input-group {
        input {
            border-bottom-left-radius: $border-radius;
            border-top-left-radius: $border-radius;
            border: none;
            &:focus {
                box-shadow: none;
            }
        }
        background-color: $color-white-0;
        .input-group-append {
            .input-group-text {
                background-color: transparent;
                border: none;
                border-radius: 0;
                color: $color-red-0;
                &:hover{
                    background-color: $color-red-0;
                    color: $color-white-0;
                }
            }
        }
    }
}