.intro {
  background: linear-gradient(-45deg, #ec5252 0%, #6e1a52 100%);
  &__item {
    display: flex;
    padding: $pd-2 0;
    justify-content: center;
    @media screen and (max-width: 768px) {
      justify-content: inherit;
    }
    &-logo i{
      text-align: center;
      font-size: $fs-4 + 20;
      height: 50px;
      width: 50px;
      color: $color-white-0;
    }
    &-text {
        color: $color-white-0;
        margin: 0 25px;
        strong {
            font-size: $fs-2;
        }
    }
  }
}
