.search {
    position: relative;
    z-index: 2;
    display: flex;
    top: -40px;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    border-radius: 10px;
    background-color: $color-white-0;
    box-shadow: 0px 0px 10px 5px rgba($color-black-0, $alpha: .25);
    div {
        margin: auto .5rem;
        border-right: 1px solid rgba(238,238,238,.88);
        select {
            border: none;
            &:focus {
                box-shadow: none;
            }
        }
        &:last-child {
            border: none;
            width: 118px;
        }
    }
}